Source: offline-lab-meta
Section: admin
Priority: optional
Maintainer: Root <info@offline-lab.com>
Standards-Version: 4.7.4
Build-Depends: debhelper (>= 4)

Package: offline-lab-base
Architecture: all
Section: misc
Priority: optional
Depends: ${offline-lab-base:Depends}
Description: Base packages for offline-lab raspi images

Package: offline-lab-raspi-core
Architecture: all
Section: misc
Priority: optional
Depends: ${offline-lab-utils:Depends}
Description: Core firmware packages for offline-lab raspi images

Package: offline-lab-utils
Architecture: all
Section: misc
Priority: optional
Depends: ${offline-lab-utils:Depends}
Description: Selection of utils for offline lab pi image
